<section id="experience-section" class="section gap">
  <div class="bg skrollable skrollable-between" data-anchor-target="#experience-section"
    data-bottom-top="transform: translate3d(0px, -150px, 0px);"
    data-top-bottom="transform: translate3d(0px, 150px, 0px);" style="transform: translate3d(0px, 84.1929px, 0px)">
  </div>
  <div class="overlay-wrapper">
    <div class="fade-in">
      <div class="center">
        <h1 class="section-heading">Education</h1>
      </div>
      <div class="experience-wrapper">
        <div id="timeline">
          <div class="timeline-block">
            <div class="timeline-content">
              <h2 class="position">Master's Degree</h2>
              <h3 class="company">
                <a>Kerala Technical University</a>
              </h3>
              <p class="job-desc">
                Attained master's degree from Kerala Technical University.
                Specialized in Communication Engineering and
                Completed course with a first class and 8.27 CGPA.
              </p>
              <span class="mob-date">Aug 2018 - Aug 2020</span>
            </div>
            <div class="timeline-img">
              <div class="sprite university"></div>
            </div>
            <span class="date">Aug 2018 - Aug 2020</span>
          </div>
          <div class="timeline-block">
            <div class="timeline-content">
              <h2 class="position">Bachelor's Degree</h2>
              <h3 class="company">
                <a>Calicut University</a>
              </h3>
              <p class="job-desc">
                Attained bachelor's degree from calicut University. Specialized
                in Electronics and Communication Engineering and Completed
                course with a first class and 7.78 CGPA.
              </p>
              <span class="mob-date">Jun 2013 - Jun 2017</span>
            </div>
            <div class="timeline-img">
              <div class="sprite research"></div>
            </div>
            <span class="date">Jun 2013 - Jun 2017</span>
          </div>
          <div class="timeline-block">
            <div class="timeline-content">
              <h2 class="position">Higher Secondary</h2>
              <h3 class="company">
                <a>State Board of Kerala</a>
              </h3>
              <p class="job-desc">
                Specialized in computer Science and attained 93% marks.
              </p>
              <span class="mob-date">Jun 2011 -Apr 2013</span>
            </div>
            <div class="timeline-img">
              <div class="sprite industry"></div>
            </div>
            <span class="date">Jun 2011 -Apr 2013</span>
          </div>
        </div>
        <i class="down-arrow"></i>
      </div>
    </div>
  </div>
</section>
