<!-- <div class="max-width">
    <h2 class="title">My References</h2>
    <div class="carousel owl-carousel">
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?shopping" alt="">
                <div class="text">Linto C Antony</div>
                <p>Deputy Manager - GramPro Business Services
                    Contact No - +919946070209
                    Senior developer with more than 6 years of experience in web development.
                    I had the privilege of working closely with him for over 2 years at GramPro Business
                    Services.
                    One of his standout qualities is leadership. I worked under him for almost 2 years.
                    His ideas and guidelines always lead the team to sucess.
                    He collaborates effectively with team members, listens attentively to feedback, and is
                    always willing to go above and beyond to ensure project success.
                    In addition to his technical skills, it is a pleasure to work with him on a
                    personal level. He maintains a positive attitude even under pressure.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?portfolio" alt="">
                <div class="text">Anuja Santhosh</div>
                <p> Web Developer - GramPro Business Services
                    Contact No - +919526891135
                    A highly skilled and dedicated web developer.
                    I had the privilege of working alongside for more than 2 year at GramProBusiness Services.
                    During our collaboration on various projects, she consistently demonstrated a deep
                    understanding of web development technologies, coding languages, and industry best
                    practices.
                    Beyond her technical skills, she is a collaborative team player.
                    She actively engages in discussions, shares knowledge generously, and is always ready
                    to assist colleagues with technical challenges. Her problem-solving skills and
                    commitment to delivering high-quality work make her an invaluable asset to any web
                    development team.

                </p>
            </div>
        </div> -->
<!-- <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?blog" alt="">
                <div class="text">Blog</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?messanger" alt="">
                <div class="text">Messaging App</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?app-clone" alt="">
                <div class="text">Clone</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?code,demo" alt="">
                <div class="text">Demo</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div> -->
<!-- </div>
</div> -->

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-indicators">
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
            aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active"> -->
            <!-- <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/> -->
            <!-- <div class="text">Linto C Antony</div>
            <p>Deputy Manager - GramPro Business Services
                Contact No - +919946070209
                Senior developer with more than 6 years of experience in web development.
                I had the privilege of working closely with him for over 2 years at GramPro Business
                Services.
                One of his standout qualities is leadership. I worked under him for almost 2 years.
                His ideas and guidelines always lead the team to sucess.
                He collaborates effectively with team members, listens attentively to feedback, and is
                always willing to go above and beyond to ensure project success.
                In addition to his technical skills, it is a pleasure to work with him on a
                personal level. He maintains a positive attitude even under pressure.
            </p>
        </div>
        <div class="carousel-item"> -->
            <!-- <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" /> -->
            <!-- <div class="text">Anuja Santhosh</div>
                <p> Web Developer - GramPro Business Services
                    Contact No - +919526891135
                    A highly skilled and dedicated web developer.
                    I had the privilege of working alongside for more than 2 year at GramProBusiness Services.
                    During our collaboration on various projects, she consistently demonstrated a deep
                    understanding of web development technologies, coding languages, and industry best
                    practices.
                    Beyond her technical skills, she is a collaborative team player.
                    She actively engages in discussions, shares knowledge generously, and is always ready
                    to assist colleagues with technical challenges. Her problem-solving skills and
                    commitment to delivering high-quality work make her an invaluable asset to any web
                    development team.

                </p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->

<div class="section" id="reference">
    <div class="container cc-reference">
      <div class="h4 mb-4 text-center title">References</div>
      <div class="card" data-aos="zoom-in">
        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
            <li data-target="#cc-Indicators" data-slide-to="1"></li>
           
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/sg.jpg" alt="Image" />
                 

                </div>
                <div class="col-lg-10 col-md-9">
                <p>
                  Mehul is creative, innovative, responsible and quite a rational thinker. 
                Coding as a way of life, his work presents products with great quality, following standards
                 and good practices.He completed one of my live project on matrimonial website and 
                 I am so impressed with his techniques.
                </p>
                <p>He has always been hardworking ,creaive,and absolute genius in his creative criticial thinking 
                  He is always ready to take challege as his new opprotunities.
                </p>

                <div class="h5 mt-1">Sagar Patel</div>
                <p class="category">HOD, at ASOIT </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/hn.jpg" alt="Image" />
                 
                </div>
                <div class="col-lg-10 col-md-9">
                  <p> Mehul is a really good working partner with high knowledge on backend and frontend development , 
                    he is always concerned with going forward never afraid of improving or making use of new technologies, 
                    helping his peers whenever
                     he is able to and solving problems in a quick and efficient manner with his typical optimism</p>

                     <p>We have worked two years togather in same project ,so i know him from my personal experience
                       Every person want this guy to be in his team.And as a persona I m sure company wont regret for hiring him
                     </p>

                     <div class="h5 mt-1">Hetal </div>
                     <p class="category">S/W Developer, at Sygnet</p>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>