.bi-geo-alt-fill {
    font-weight: 500;
    color: #1e3551;
}

.bi-envelope-fill {
    font-weight: 500;
    color: #1e3551;
}

.bi-translate {
    font-weight: 500;
    color: #1e3551;
}