<div class="max-width">
    <h2 class="title">Contact Me</h2>
    <div class="contact-content">
        <div class="column left">
            <p>Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or
                opportunities to be a part of your visions. Email me with any questions or inquiries. I'll happy
                to answer your questions and set up a meeting with you.</p>
            <div class="icons">

                <div class="row">
                    <i class="fa-solid fa-user-large"></i>
                    <div class="info">
                        <div class="head">&nbsp;Remya.A</div>
                    </div>
                </div>

                <div class="row">
                    <div class="info">
                        <div class="bi bi-geo-alt-fill">&nbsp;Address</div>
                        <div class="sub-title">&nbsp;'Sivakripa',Kottapuram, Thrissur
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="info">
                        <div class="bi bi-envelope-fill">&nbsp;Email</div>
                        <div class="sub-title"><a href="mailto:#" style="text-decoration: none; color: #333;">
                                remyakrishnaraj1519@gmail.com</a></div>
                    </div>
                </div>

                <div class="row">
                    <div class="info">
                        <div class="bi bi-translate">&nbsp;Languages Known</div>
                        <div class="sub-title">Malayalam, English, Hindi</div>
                    </div>
                </div>

                <br>

            </div>
        </div>

    </div>
</div>
