<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">My services</h2>
    <div class="serv-content">
      <div class="card">
        <div class="box">
          <div class="text">Web Application Development</div>
          <p>
            Building dynamic and interactive web applications to meet your specific needs.
            Ensure seamless user experiences by implementing responsive layouts, intuitive navigation, and engaging interactions.
            Building robust server-side architectures to power your web application's functionality.
            Creating dynamic web applications with interactive features, often using frameworks like React, Angular.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="text">Web Security Measures</div>
          <p>
            Implementing robust security protocols to safeguard the web application and user data. 
            The measures include encryption, secure authentication, and continuous monitoring for potential vulnerabilities.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <div class="text">API Integration</div>
          <p>
            Integrating third-party APIs (Application Programming Interfaces) to enhance website functionality, such as social media integration, payment gateways, and more
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
