<div class="max-width">
    <h2 class="titleM">My Projects</h2>
    <div class="carousel owl-carousel">
        <div class="card">
            <div class="box">
                <img src="assets/images/eweb.png" alt="">
                <div class="text">EWEB</div>
                <p>#Project Details:- Working as a frond-end developer.
                    Core application of ESAF bank that used for their branch communications.
                    Handled different modules like operation management, Risk Management, Help Desk, Retail Liability etc. using React Technology. Collabrated with design team and Data base team.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="assets/images/hrms.png" alt="">
                <div class="text">HRMS</div>
                <p>#Project Details:- Core project of the firm and the client is ESAF Bank and its different entities.
                    Main aim of the project is managing the Recruitment and onboarding purposes of a company.
                    Created master pages of the application.
                    Handled recruitment module for recruiting candidates  which includes the selection process.
                    Handled employee management module for enrolling and managing the employees.
                    Handled the leave module for crediting and processing the different types of leaves.
                    Developed using Angular 12 for Frontend, .NET Core for Backend and Database MS SQL.
                </p>
            </div>
        </div>
        <!-- <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?blog" alt="">
                <div class="text">Blog</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?messanger" alt="">
                <div class="text">Messaging App</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?app-clone" alt="">
                <div class="text">Clone</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://source.unsplash.com/720x600/?code,demo" alt="">
                <div class="text">Demo</div>
                <p>#Project Details:- Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div> -->
    </div>
</div>