<div class="max-width">
    <h2 class="title">My Skills</h2>
    <div class="skills-content">
        <div class="column right">
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">React</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 3">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">Angular</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 4">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">HTML</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 2">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">CSS</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 2">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">TypeScript</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 4">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">.NET Core</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 4">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill-rating">
                    <div class="stars">
                        <label class="skillName">MS SQL</label>&nbsp;
                        <div class="stars-container">
                            <span *ngFor="let maxStars of stars; let i = index" [class.active]=" i < 4">&#9733;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
