<body>
  <div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
  </div>

  <!-- Header -->
  <nav class="navbar">
    <div class="max-width">
      <ul class="menu">
        <li><a href="#home" class="menu-btn">Home</a></li>
        <li><a href="#about" class="menu-btn">About</a></li>
        <li><a href="#services" class="menu-btn">Service</a></li>
        <li><a href="#skills" class="menu-btn">Skills</a></li>
        <li><a href="#projects" class="menu-btn">Projects</a></li>
        <li><a href="#education" class="menu-btn">Education</a></li>
        <!-- <li><a href="#references" class="menu-btn">References</a></li> -->
        <li><a href="#contact" class="menu-btn">Contact</a></li>
      </ul>
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>

  <!-- Home -->
  <section class="home" id="home">
    <div class="section-background">
      <div class="background">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
      </div>
    </div>
    <div class="home-page-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="home-content">
              <div class="text-1">Hello, This is</div>
              <div class="text-2">Remya</div>
              <div class="text-3">
                And I'm a <span class="typing">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="home-img">
              <img alt="My image name" src="assets/images/remya.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  About  -->
  <section class="about" id="about">
    <app-about></app-about>
    <!-- <div class="max-width">
            <h2 class="title">About Me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="https://source.unsplash.com/626x626/?profile" alt="Profile Image 626x626">
                </div>
                <div class="column right">
                    <div class="text"></div>
                    <p>A passionate and creative web developer dedicated to crafting engaging and user-friendly digital
                        experiences.
                        With a love for coding and a keen eye for design, I strive to bring ideas to life on the web.
                        I specialize in both front-end and back-end development, ensuring a seamless and cohesive user
                        experience from the first click to the
                        final interaction. Proficient in a range of technologies, including HTML, CSS, TypeScript,
                        React, Angular,.NET Core, MS SQL.
                        I stay up-to-date with the latest trends and technologies to deliver cutting-edge solutions.
                        Ever since my journey began in the world of web development, I've had the privilege of working
                        on diverse projects,
                        Each project is an opportunity for me to blend creativity with functionality, resulting in a
                        digital presence that stands out.</p>
                    <br>
                    <a href="assets/Resume.pdf" target="blank">Download CV</a>
                </div>
            </div>
        </div> -->
  </section>

  <!-- Services -->
  <section class="services" id="services">
    <app-experience></app-experience>
    <!-- <div class="max-width">
            <h2 class="title">My services</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-laptop-code"></i>
                        <div class="text">Web Developer</div>
                        <p>As a full stack developer I'm responsible for handling frond-end and back-end,database
                            management.
                            In my web development carrer i have developed and maintained dynamic web applications with a
                            focus on scalability, usability, and security.
                            Collaborated closely with cross-functional teams, including designers and product managers,
                            to translate design mockups into functional web applications.
                            Conducted thorough code reviews and implemented best practices to ensure code quality,
                            maintainability, and performance optimization.
                            Technologies used are Angular, React, HTML, CSS, .NET Core, MS SQL</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-user-secret"></i>
                        <div class="text">User Secret</div>
                        <p>I ensures that, there is no sensitive data included in the source code and are stored outside
                            of the project folder. And all the data which is stored by User Secrets is not encrypted.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Apps Design</div>
                        <p>I encompasses both the user interface(UI) & user experience(UX). The overall style of the
                            app, including things like the colour scheme, font selection, and the types of buttons and
                            widgets which will use.</p>
                    </div>
                </div>
            </div>
        </div> -->
  </section>

  <!-- Skills -->
  <section class="skills" id="skills">
    <app-skills></app-skills>
    
  </section>

  <!-- Projects -->
  <section class="projects" id="projects">
    <app-projects></app-projects>
  </section>

  <!-- Education -->
  <section class="education education-bg-sec" id="education">
    <app-education></app-education>
  </section>

  <!-- References -->
  <!-- <section class="references" id="references">
    <app-references></app-references>
  </section> -->

  <!-- Contact -->
  <section class="contact" id="contact">
    <app-contacts></app-contacts>
  </section>

  <!-- Footer -->
  <footer >
    <span >
      <a class = "footer">Remya | 2023 All Rights Reserved. Privacy
        Policy</a>
      <!-- <span class="far fa-copyright"></span>2023 All Rights Reserved. Privacy -->
      <!-- Policy -->
    </span>
  </footer>
</body>